body {
    font-size: 12px;
    padding: 5px;
}

@media print {

    .image-cell {
        text-align: right;
    }

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
    }

    table{
        page-break-inside: avoid;
        border-spacing: 10px;
    }

    .parking_slip .parking_slip_image {
        page-break-before: auto;
        page-break-inside: avoid;
    }
    
}

.duty_summary ul {
    list-style: none;
    padding: 0;
}

.duty_summary table {
    border: 2px solid black;
    border-collapse: collapse;
}

.image-cell {
    text-align: right;
}


.main-content {
    position: relative;
    top: 230px;
}

@page {
    margin: 2mm
}

.font-bold {
    font-weight: 600;
}